<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/users" method="POST">
      <input type="text" name="name" id="id" placeholder="Enter Name" />
      <br />
      <br />
      <input
        type="text"
        name="profession"
        id="profession"
        placeholder="Enter profession"
      />
      <br />
      <br />
      <input type="text" name="age" id="age" placeholder="Enter age" />
      <br />
      <br />

      <button type="submit">submit</button>
    </form>
  </body>
</html>
