<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Please register</h1>
    <form action="http://localhost:5000/register" method="POST">
      <div>
        <level for="fullName">Name:</level>
        <input type="text" name="fullName" id="fullName" />
      </div>
      <div>
        <level for="age">Age:</level>
        <input type="number" name="age" id="age" />
      </div>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
